USE [master]
GO
/****** Object:  Database [ttcm]    Script Date: 6/23/2020 11:47:36 AM ******/
CREATE DATABASE [ttcm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ttcm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ttcm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ttcm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ttcm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ttcm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ttcm]
GO
/****** Object:  Table [ad]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ad](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](1000) NULL,
	[MatKhau] [nchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ChucVu]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ChucVu](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NULL,
	[LuongCoBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CTHDNhap]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTHDNhap](
	[Ma_HDN] [int] NOT NULL,
	[Ma_SP] [int] NOT NULL,
	[Ma_Size] [int] NOT NULL,
	[Ma_MauSac] [int] NOT NULL,
	[Soluong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_HDN] ASC,
	[Ma_SP] ASC,
	[Ma_Size] ASC,
	[Ma_MauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CTHDXuat]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTHDXuat](
	[Ma_HDX] [int] NOT NULL,
	[Ma_SP] [int] NOT NULL,
	[Ma_Size] [int] NOT NULL,
	[Ma_MauSac] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_HDX] ASC,
	[Ma_SP] ASC,
	[Ma_Size] ASC,
	[Ma_MauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CTSanPham]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTSanPham](
	[Ma_SP] [int] NOT NULL,
	[Ma_Size] [int] NOT NULL,
	[Ma_MauSac] [int] NOT NULL,
	[Soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_SP] ASC,
	[Ma_Size] ASC,
	[Ma_MauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HDNhap]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HDNhap](
	[Ma] [int] NOT NULL,
	[Ma_NCC] [int] NOT NULL,
	[Ma_NV] [int] NULL,
	[NgayNhap] [date] NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HDXuat]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HDXuat](
	[Ma] [int] NOT NULL,
	[Ma_KH] [int] NULL,
	[Ma_NV] [int] NULL,
	[NgayXuat] [date] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [KhachHang]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KhachHang](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NULL,
	[Email] [nvarchar](1000) NULL,
	[DiaChi] [nvarchar](1000) NULL,
	[DiemTichLuy] [int] NULL,
	[Ma_LoaiKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LoaiKH]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LoaiKH](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NULL,
	[TiLeGiamGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LoaiSP]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LoaiSP](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MauSac]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MauSac](
	[Ma] [int] NOT NULL,
	[TenMau] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NhaCungCap]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NhaCungCap](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[DiaChi] [nvarchar](1000) NOT NULL,
	[SoDienThoai] [nchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NhanVien]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NhanVien](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](1000) NULL,
	[GioiTinh] [nvarchar](1000) NULL,
	[DiaChi] [nvarchar](1000) NULL,
	[Email] [nchar](1000) NULL,
	[NgaySinh] [date] NULL,
	[NgayVaoLam] [date] NULL,
	[Ma_CV] [int] NULL,
	[taikhoan] [nchar](1000) NULL,
	[matkhau] [nchar](1000) NULL,
	[Hinhanh] [image] NULL,
	[HoatDong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SanPham]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SanPham](
	[Ma] [int] NOT NULL,
	[Ma_LoaiSP] [int] NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[DonGia] [int] NOT NULL,
	[ChatLieu] [nvarchar](1000) NOT NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Size]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Size](
	[Ma] [int] NOT NULL,
	[TenSize] [nchar](1000) NOT NULL,
	[Ma_LoaiSP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [ChucVu] ([Ma], [Ten], [LuongCoBan]) VALUES (1, N'Quản Lý', 5000000)
INSERT [ChucVu] ([Ma], [Ten], [LuongCoBan]) VALUES (2, N'Nhân viên bán hàng', 3500000)
INSERT [ChucVu] ([Ma], [Ten], [LuongCoBan]) VALUES (3, N'Kế toán', 3500000)
INSERT [CTHDNhap] ([Ma_HDN], [Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong], [DonGia], [ThanhTien]) VALUES (1, 1, 1, 1, 10, 50000, 500000)
INSERT [CTHDNhap] ([Ma_HDN], [Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong], [DonGia], [ThanhTien]) VALUES (4, 1, 1, 1, 32, 233, 7456)
INSERT [CTHDNhap] ([Ma_HDN], [Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong], [DonGia], [ThanhTien]) VALUES (9, 1, 1, 1, 2, 2, 4)
INSERT [CTSanPham] ([Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong]) VALUES (1, 1, 1, 5)
INSERT [CTSanPham] ([Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong]) VALUES (1, 1, 2, 2)
INSERT [CTSanPham] ([Ma_SP], [Ma_Size], [Ma_MauSac], [Soluong]) VALUES (1, 1, 3, 3)
GO
INSERT [HDNhap] ([Ma], [Ma_NCC], [Ma_NV], [NgayNhap], [TongTien]) VALUES (1, 1, 1, CAST(N'2019-05-20' AS Date), 0)
INSERT [HDNhap] ([Ma], [Ma_NCC], [Ma_NV], [NgayNhap], [TongTien]) VALUES (2, 1, 1, CAST(N'2019-05-20' AS Date), 0)
INSERT [HDNhap] ([Ma], [Ma_NCC], [Ma_NV], [NgayNhap], [TongTien]) VALUES (3, 1, 1, CAST(N'2020-05-19' AS Date), 0)
INSERT [LoaiKH] ([Ma], [Ten], [TiLeGiamGia]) VALUES (1, N'Bạc', 0)
INSERT [LoaiKH] ([Ma], [Ten], [TiLeGiamGia]) VALUES (2, N'Vàng', 0.03)
INSERT [LoaiKH] ([Ma], [Ten], [TiLeGiamGia]) VALUES (3, N'Bạch Kim', 0.05)
INSERT [LoaiSP] ([Ma], [Ten]) VALUES (1, N'Áo thể thao')
INSERT [LoaiSP] ([Ma], [Ten]) VALUES (2, N'Quần thể thao')
INSERT [LoaiSP] ([Ma], [Ten]) VALUES (3, N'Giày thể thao')
INSERT [MauSac] ([Ma], [TenMau]) VALUES (1, N'Đen')
INSERT [MauSac] ([Ma], [TenMau]) VALUES (2, N'Trắng')
INSERT [MauSac] ([Ma], [TenMau]) VALUES (3, N'Vàng')
INSERT [SanPham] ([Ma], [Ma_LoaiSP], [Ten], [DonGia], [ChatLieu], [HinhAnh]) VALUES (1, 1, N'Áo thể thao trơn', 57000, N'Vải thun', NULL)
INSERT [SanPham] ([Ma], [Ma_LoaiSP], [Ten], [DonGia], [ChatLieu], [HinhAnh]) VALUES (2, 1, N'Áo thể thao adidas', 72000, N'Vải Cotton', NULL)
INSERT [SanPham] ([Ma], [Ma_LoaiSP], [Ten], [DonGia], [ChatLieu], [HinhAnh]) VALUES (3, 1, N'Áo thể thao ba lá', 44000, N'Vải voan', NULL)
ALTER TABLE [CTHDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_HDN])
REFERENCES [HDNhap] ([Ma])
GO
ALTER TABLE [CTHDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_MauSac])
REFERENCES [MauSac] ([Ma])
GO
ALTER TABLE [CTHDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_Size])
REFERENCES [Size] ([Ma])
GO
ALTER TABLE [CTHDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_SP])
REFERENCES [SanPham] ([Ma])
GO
ALTER TABLE [CTHDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_HDX])
REFERENCES [HDXuat] ([Ma])
GO
ALTER TABLE [CTHDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_MauSac])
REFERENCES [MauSac] ([Ma])
GO
ALTER TABLE [CTHDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_Size])
REFERENCES [Size] ([Ma])
GO
ALTER TABLE [CTHDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_SP])
REFERENCES [SanPham] ([Ma])
GO
ALTER TABLE [CTSanPham]  WITH CHECK ADD FOREIGN KEY([Ma_MauSac])
REFERENCES [MauSac] ([Ma])
GO
ALTER TABLE [CTSanPham]  WITH CHECK ADD FOREIGN KEY([Ma_Size])
REFERENCES [Size] ([Ma])
GO
ALTER TABLE [CTSanPham]  WITH CHECK ADD FOREIGN KEY([Ma_SP])
REFERENCES [SanPham] ([Ma])
GO
ALTER TABLE [HDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_NCC])
REFERENCES [NhaCungCap] ([Ma])
GO
ALTER TABLE [HDNhap]  WITH CHECK ADD FOREIGN KEY([Ma_NV])
REFERENCES [NhanVien] ([Ma])
GO
ALTER TABLE [HDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_KH])
REFERENCES [KhachHang] ([Ma])
GO
ALTER TABLE [HDXuat]  WITH CHECK ADD FOREIGN KEY([Ma_NV])
REFERENCES [NhanVien] ([Ma])
GO
ALTER TABLE [KhachHang]  WITH CHECK ADD FOREIGN KEY([Ma_LoaiKH])
REFERENCES [LoaiKH] ([Ma])
GO
ALTER TABLE [NhanVien]  WITH CHECK ADD FOREIGN KEY([Ma_CV])
REFERENCES [ChucVu] ([Ma])
GO
ALTER TABLE [SanPham]  WITH CHECK ADD FOREIGN KEY([Ma_LoaiSP])
REFERENCES [LoaiSP] ([Ma])
GO
ALTER TABLE [Size]  WITH CHECK ADD FOREIGN KEY([Ma_LoaiSP])
REFERENCES [LoaiSP] ([Ma])
GO
/****** Object:  StoredProcedure [cbbSize]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---Size
create proc [cbbSize] (@LoaiSp int)
as
select * from Size where Ma_LoaiSP = @LoaiSp
GO
/****** Object:  StoredProcedure [deletechucvu]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [deletechucvu] (@ma int)
as
delete from ChucVu where Ma = @ma
GO
/****** Object:  StoredProcedure [deleteCTHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [deleteCTHDN] (@mahdn int, @maSP int, @maSize int, @maMauSac int)
as
delete from CTHDNhap where Ma_HDN = @mahdn and Ma_SP = @maSP and Ma_Size = @maSize and Ma_MauSac = @maMauSac
GO
/****** Object:  StoredProcedure [deletencc]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [deletencc] (@ma int)
as
delete from NhaCungCap where Ma = @ma
GO
/****** Object:  StoredProcedure [deletenv]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [deletenv] (@ma int)
as
delete from NhanVien where Ma = @ma
GO
/****** Object:  StoredProcedure [insertchucvu]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [insertchucvu](@ma int, @ten nvarchar (1000), @luongcb int)
as
insert into ChucVu values (@ma, @ten, @luongcb)
GO
/****** Object:  StoredProcedure [insertCTHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---CTHDN
--create proc CTHDN 
--as 
--select CTHDN.Ma, CTHDN.Ma_SP, (select sum(Soluong) from ThongTinCTHDN where ThongTinCTHDN.Ma_CTHDN = 1)  as N'soluong', CTHDN.DonGia, CTHDN.ThanhTien 
--from CTHDNhap CTHDN, ThongTinCTHDN TTCTHDN , HDNhap HDN
--where CTHDN.Ma = TTCTHDN.Ma_CTHDN and CTHDN.Ma_HDN = HDN.Ma and HDN.Ma = 1
--group by CTHDN.Ma, CTHDN.Ma_SP, CTHDN.DonGia, CTHDN.ThanhTien
--go


create proc [insertCTHDN] ( @mahdn int, @maSP int, @maSize int, @maMauSac int ,@soluong int, @dongia int, @thanhtien int)
as
insert into CTHDNhap values ( @mahdn, @maSP, @maSize, @maMauSac, @soluong, @dongia, @thanhtien)
GO
/****** Object:  StoredProcedure [insertHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----HDN
create proc [insertHDN] (@ma int, @mancc int, @manv int, @ngaynhap date, @tongtien int)
as
insert into HDNhap values (@ma, @mancc, @manv, @ngaynhap, @tongtien)
GO
/****** Object:  StoredProcedure [insertncc]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [insertncc] (@ma int, @ten nvarchar (1000), @diachi nvarchar (1000), @sdt nchar (1000))
as
insert into NhaCungCap values (@ma, @ten, @diachi, @sdt)
GO
/****** Object:  StoredProcedure [insertnv]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [insertnv] (@ma int, @ten nvarchar (1000), @chucvu int, @gioitinh nvarchar (100), @diachi nvarchar (1000), @email nvarchar (1000), @ngaysinh date, @ngayvl date, @taikhoan nchar (1000), @matkhau nchar (1000), @hinhanh image)
as
insert into NhanVien (Ma, Ten, Ma_CV, GioiTinh,DiaChi,Email, NgaySinh, NgayVaoLam, taikhoan, matkhau, Hinhanh)
values (@ma, @ten, @chucvu, @gioitinh, @diachi, @email, @ngaysinh, @ngayvl, @taikhoan, @matkhau, @hinhanh)
GO
/****** Object:  StoredProcedure [ngaytrongnam_HDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [ngaytrongnam_HDN] (@maHDN int)
as
select DATEPART(dayofyear, NgayNhap) as 'ngay', DATEPART(year, NgayNhap) as 'nam'  from HDNhap where Ma = @maHDN
GO
/****** Object:  StoredProcedure [selectchucvu]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Chuc Vu
create proc [selectchucvu]
as
select * from ChucVu
GO
/****** Object:  StoredProcedure [selectCTHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [selectCTHDN] (@mahdn int)
as
select * from CTHDNhap where Ma_HDN = @mahdn
GO
/****** Object:  StoredProcedure [selectCTSP]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [selectCTSP]
as
select * from CTSanPham
GO
/****** Object:  StoredProcedure [selectHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [selectHDN] 
as
select * from HDNhap
GO
/****** Object:  StoredProcedure [selectncc]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----NCC-----
create proc [selectncc] 
as
select * from NhaCungCap
GO
/****** Object:  StoredProcedure [selectnv]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----NhanVien
create proc [selectnv]
as
select * from NhanVien
GO
/****** Object:  StoredProcedure [selectSLT_CTSP]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [selectSLT_CTSP] (@maSP int, @ma_Size int, @ma_Mau int)
as
select * from CTSanPham where Ma_SP = @maSP and Ma_Size = @ma_Size and Ma_MauSac = @ma_Mau
GO
/****** Object:  StoredProcedure [TKNCC]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [TKNCC] (@tk nvarchar (100))
as
select * from NhaCungCap 
where CONCAT (Ma, Ten, DiaChi, SoDienThoai) like '%'+@tk+'%' 
GO
/****** Object:  StoredProcedure [updatechucvu]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updatechucvu](@ma int, @ten nvarchar (1000), @luongcb int)
as
update ChucVu set Ten = @ten, LuongCoBan = @luongcb
GO
/****** Object:  StoredProcedure [updateCTHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updateCTHDN] (@mahdn int, @maSP int, @maSize int, @maMauSac int, @soluong int, @dongia int, @thanhtien int)
as
update CTHDNhap set SoLuong = @soluong, dongia = @dongia, thanhtien = @thanhtien 
where Ma_HDN = @mahdn and Ma_SP = @maSP and Ma_Size = @maSize and Ma_MauSac = @maMauSac
GO
/****** Object:  StoredProcedure [updateHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updateHDN] (@ma int, @mancc int, @tongtien int)
as
update HDNhap set Ma_NCC = @mancc, TongTien = @tongtien where Ma = @ma
GO
/****** Object:  StoredProcedure [updatemkmahoa]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updatemkmahoa] (@ma int, @matkhau nchar(50))
as
update NhanVien set matkhau = @matkhau where Ma = @ma
GO
/****** Object:  StoredProcedure [updatencc]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updatencc] (@ma int, @ten nvarchar (1000), @diachi nvarchar (1000), @sdt nchar (1000))
as
update NhaCungCap set Ten = @ten, DiaChi = @diachi, SoDienThoai = @sdt where Ma = @ma
GO
/****** Object:  StoredProcedure [updatenv]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updatenv] (@ma int, @ten nvarchar (1000), @chucvu int, @gioitinh nvarchar (1000), @diachi nvarchar (1000), @email nvarchar (1000), @ngaysinh date, @ngayvl date, @hinhanh image)
as
update NhanVien set  Ten = @ten, Ma_CV = @chucvu, GioiTinh = @gioitinh, DiaChi = @diachi, Email = @email, NgaySinh = @ngaysinh, NgayVaoLam= @ngayvl, Hinhanh = @hinhanh where Ma = @ma
GO
/****** Object:  StoredProcedure [updateSLT]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-----TTCTHDN
--create proc selectTTCTHDN (@maHDN int)
--as
--select CTHDN.Ma_SP, TTCTHDN.Ma_Size, TTCTHDN.Ma_MauSac, TTCTHDN.Soluong
--from ThongTinCTHDN TTCTHDN, CTHDNhap CTHDN, HDNhap HDN
--where CTHDN.Ma_HDN = HDN.Ma and HDN.Ma = @maHDN
--go

--create proc insertTTCTHDN (@ma_CTHCN int, @size int, @mau int, @soluong int)
--as
--insert into ThongTinCTHDN values (@ma_CTHCN, @size, @ma_CTHCN, @soluong)
--go

--create proc updateTTCTHDN (@ma_CTHCN int, @size int, @mau int, @soluong int)
--as
--update ThongTinCTHDN set Soluong = @soluong where Ma_CTHDN = @ma_CTHCN and Ma_Size = @size and Ma_MauSac = @mau
--go

--create proc deleteTTCTHDN (@ma_CTHDN int, @size int, @mau int)
--as
--delete from ThongTinCTHDN where Ma_CTHDN = @ma_CTHDN and Ma_Size = @size and Ma_MauSac = @mau
--go



----SP


---CTSP
create proc [updateSLT] (@maSP int, @maSize int, @maMau int, @soluong int)
as
update CTSanPham set Soluong = @soluong where Ma_SP = @maSP and Ma_Size = @maSize and Ma_MauSac = @maMau
GO
/****** Object:  StoredProcedure [updatethanhtiensoluongCTHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [updatethanhtiensoluongCTHDN] (@mahdn int, @maSP int, @ma_Size int, @ma_MauSac int,@soluong int, @thanhtien int)
as
update CTHDNhap set SoLuong = @soluong,  ThanhTien = @thanhtien 
where Ma_HDN = @mahdn and Ma_SP = @maSP and Ma_Size = @ma_Size and Ma_MauSac = @ma_MauSac
GO
/****** Object:  StoredProcedure [updatetongtienHDN]    Script Date: 6/23/2020 11:47:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [updatetongtienHDN] (@mahdn int , @tongtien int)
as
update HDNhap set TongTien = @tongtien where Ma = @mahdn
GO
USE [master]
GO
